In [52]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [53]:
jun = pd.read_csv("https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-06-gasolina-etanol.csv", delimiter = ";")
jun.head()

,Região - Sigla,Estado - Sigla,Município,Revenda,CNPJ da Revenda,Nome da Rua,Número Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0005-75,AVENIDA BOULEVARD THAUMATURGO,1031,NaN,CENTRO,69980-000,GASOLINA,02/06/2021,"6,89",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
1,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0005-75,AVENIDA BOULEVARD THAUMATURGO,1031,NaN,CENTRO,69980-000,GASOLINA ADITIVADA,02/06/2021,"6,89",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0006-56,AVENIDA 25 DE AGOSTO,1350,NaN,25 DE AGOSTO,69980-000,ETANOL,01/06/2021,"6,1",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0006-56,AVENIDA 25 DE AGOSTO,1350,NaN,25 DE AGOSTO,69980-000,GASOLINA,01/06/2021,"6,89",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0004-94,AVENIDA LAURO MULLER,943,NaN,JOÃO ALVES,69980-000,GASOLINA,02/06/2021,"6,89",NaN,R$ / litro,BRANCA

In [54]:
jun['Mes'] = 'junho'

In [55]:
# Carregando os dados do mês de julho com informações fornecidas pela ANP
jul = pd.read_csv("https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-07-gasolina-etanol.csv", delimiter = ";")
jul.head()

,Região - Sigla,Estado - Sigla,Município,Revenda,CNPJ da Revenda,Nome da Rua,Número Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,GASOLINA,01/07/2021,"5,499",NaN,R$ / litro,IPIRANGA
1,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,ETANOL,01/07/2021,"5,2",NaN,R$ / litro,IPIRANGA
2,NE,CE,MARACANAU,BEZERRA & MENDES COMERCIAL DE PETRÓLEO LTDA.,05.397.086/0001-51,RODOVIA MARANGUAPE - FORTALEZA - KM 06,S/N,NaN,PARQUE LUZARDO VIANA,61910-000,GASOLINA ADITIVADA,01/07/2021,"5,699",NaN,R$ / litro,IPIRANGA
3,NE,CE,MARACANAU,LUIZA GLAURIA R T MENEZES,03.602.329/0001-10,ESTRADA FORTALEZA MARANGUAPE,S/N,NaN,KAGADO,61901-410,GASOLINA,01/07/2021,"5,49",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,NE,CE,MARACANAU,LUIZA GLAURIA R T MENEZES,03.602.329/0001-10,ESTRADA FORTALEZA MARANGUAPE,S/N,NaN,KAGADO,61901-410,ETANOL,01/07/2021,"4,99",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.

In [56]:
jul['Mes'] = 'julho'

In [57]:
df = pd.concat([jun, jul], ignore_index=True)

In [58]:
df.head()

,Região - Sigla,Estado - Sigla,Município,Revenda,CNPJ da Revenda,Nome da Rua,Número Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Mes
0,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0005-75,AVENIDA BOULEVARD THAUMATURGO,1031,NaN,CENTRO,69980-000,GASOLINA,02/06/2021,"6,89",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.,junho
1,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0005-75,AVENIDA BOULEVARD THAUMATURGO,1031,NaN,CENTRO,69980-000,GASOLINA ADITIVADA,02/06/2021,"6,89",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.,junho
2,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0006-56,AVENIDA 25 DE AGOSTO,1350,NaN,25 DE AGOSTO,69980-000,ETANOL,01/06/2021,"6,1",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.,junho
3,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0006-56,AVENIDA 25 DE AGOSTO,1350,NaN,25 DE AGOSTO,69980-000,GASOLINA,01/06/2021,"6,89",NaN,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.,junho
4,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0004-94,AVENIDA LAURO MULLER,943,NaN,JOÃO ALVES,69980-000,GASOLINA,02/06/2021,"6,89",NaN,R$ / litro,BRANCA,junho

In [59]:
df.columns

Index(['Região - Sigla', 'Estado - Sigla', 'Município', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Número Rua', 'Complemento', 'Bairro',
       'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira', 'Mes'],
      dtype='object')

In [60]:
dflimpo = df[['Região - Sigla', 'Município', 'Produto', 'Valor de Venda']]
dflimpo['Valor de Venda'] = dflimpo['Valor de Venda'].replace(',','.',regex=True).astype(float)
dflimpo

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Região - Sigla        Município             Produto  Valor de Venda
0                  N  CRUZEIRO DO SUL            GASOLINA           6.890
1                  N  CRUZEIRO DO SUL  GASOLINA ADITIVADA           6.890
2                  N  CRUZEIRO DO SUL              ETANOL           6.100
3                  N  CRUZEIRO DO SUL            GASOLINA           6.890
4                  N  CRUZEIRO DO SUL            GASOLINA           6.890
...              ...              ...                 ...             ...
97581             SE          ARACRUZ  GASOLINA ADITIVADA           5.870
97582             SE          ARACRUZ              ETANOL           4.990
97583             SE          ARACRUZ            GASOLINA           5.870
97584             SE            ARAXA              ETANOL           4.599
97585             SE            ARAXA            GASOLINA           6.199

[97586 rows x 4 columns]

##Questão 5:

In [61]:
mediamunicipio = dflimpo.groupby(['Produto','Município']).mean().sort_values(by='Valor de Venda', ascending=True).reset_index()
mediamunicipio[mediamunicipio['Produto']=='ETANOL'].head(1)

  Produto            Município  Valor de Venda
0  ETANOL  PRESIDENTE PRUDENTE        3.892333

In [62]:
mediamunicipio[mediamunicipio['Produto']=='GASOLINA'].head(1)

      Produto Município  Valor de Venda
230  GASOLINA    MACAPA        4.986149

In [63]:
mediamunicipio[mediamunicipio['Produto']=='GASOLINA ADITIVADA'].head(1)

                Produto            Município  Valor de Venda
309  GASOLINA ADITIVADA  SAO JOSE DOS CAMPOS           5.304

##Questão 6

In [64]:
mediamunicipio = dflimpo.groupby(['Produto','Município']).mean().sort_values(by='Valor de Venda', ascending=False).reset_index()
mediamunicipio[mediamunicipio['Produto']=='ETANOL'].head(1)

   Produto Município  Valor de Venda
23  ETANOL      BAGE            6.51

In [65]:

mediamunicipio[mediamunicipio['Produto']=='GASOLINA'].head(1)

    Produto        Município  Valor de Venda
0  GASOLINA  CRUZEIRO DO SUL        6.914205

In [66]:

mediamunicipio[mediamunicipio['Produto']=='GASOLINA ADITIVADA'].head(1)

              Produto        Município  Valor de Venda
1  GASOLINA ADITIVADA  CRUZEIRO DO SUL           6.905

##Questão 7:

In [67]:
mediaregiao = dflimpo.groupby(['Produto','Região - Sigla']).mean().sort_values(by='Valor de Venda', ascending=False).reset_index()
mediaregiao[mediaregiao['Produto']=='GASOLINA'].head(1)

    Produto Região - Sigla  Valor de Venda
3  GASOLINA             CO        5.901902

##Questão 8:

In [68]:
mediaregiao = dflimpo.groupby(['Produto','Região - Sigla']).mean().sort_values(by='Valor de Venda', ascending=True).reset_index()
mediaregiao[mediaregiao['Produto']=='ETANOL'].head(1)

  Produto Região - Sigla  Valor de Venda
0  ETANOL             SE        4.354765